/inventoryservice/target/
/productservice/target/
/reviewservice/target/
/inventoryservice/target/surefire-reports/com.globomantics.inventoryservice.integration.InventoryServiceIntegrationTest.txt
/inventoryservice/target/surefire-reports/com.globomantics.inventoryservice.InventoryserviceApplicationTests.txt
/inventoryservice/target/surefire-reports/com.globomantics.inventoryservice.service.InventoryServiceMappingTest.txt
/inventoryservice/target/surefire-reports/com.globomantics.inventoryservice.service.InventoryServiceTest.txt
/inventoryservice/target/surefire-reports/com.globomantics.inventoryservice.web.InventoryControllerTest.txt
/productservice/target/surefire-reports/com.globomantics.productservice.integration.ProductServiceIntegrationTest.txt
/productservice/target/surefire-reports/com.globomantics.productservice.ProductserviceApplicationTests.txt
/productservice/target/surefire-reports/com.globomantics.productservice.repository.ProductRepositoryTest.txt
/productservice/target/surefire-reports/com.globomantics.productservice.service.ProductServiceTest.txt
/productservice/target/surefire-reports/com.globomantics.productservice.web.ProductControllerTest.txt
/reviewservice/target/surefire-reports/com.pluralsight.reviewservice.integration.ReviewServiceIntegrationTest.txt
/reviewservice/target/surefire-reports/com.pluralsight.reviewservice.repository.ReviewRepositoryTest.txt
/reviewservice/target/surefire-reports/com.pluralsight.reviewservice.ReviewserviceApplicationTests.txt
/reviewservice/target/surefire-reports/com.pluralsight.reviewservice.service.ReviewServiceTest.txt
/reviewservice/target/surefire-reports/com.pluralsight.reviewservice.web.ReviewControllerTest.txt
/inventoryservice/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/inventoryservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/productservice/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/productservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/reviewservice/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/reviewservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/inventoryservice/target/test-classes/mappings/get-inventory-1.json
/inventoryservice/target/test-classes/mappings/get-inventory-2.json
/inventoryservice/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/inventoryservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/productservice/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/productservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/reviewservice/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/reviewservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/inventoryservice/target/test-classes/__files/json/inventory-response.json
/inventoryservice/target/test-classes/__files/json/inventory-response-after-post.json
/inventoryservice/target/classes/com/globomantics/inventoryservice/web/InventoryController.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/web/InventoryControllerTest.class
/inventoryservice/target/classes/com/globomantics/inventoryservice/model/InventoryRecord.class
/inventoryservice/target/classes/com/globomantics/inventoryservice/service/InventoryService.class
/inventoryservice/target/inventoryservice-0.0.1-SNAPSHOT.jar
/inventoryservice/target/inventoryservice-0.0.1-SNAPSHOT.jar.original
/inventoryservice/target/classes/com/globomantics/inventoryservice/InventoryserviceApplication.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/InventoryserviceApplicationTests.class
/inventoryservice/target/classes/com/globomantics/inventoryservice/service/InventoryServiceImpl.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/integration/InventoryServiceIntegrationTest.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/service/InventoryServiceMappingTest.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/service/InventoryServiceMappingTestOld.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/service/InventoryServiceTest.class
/inventoryservice/target/test-classes/com/globomantics/inventoryservice/service/InventoryServiceTestOld.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/repository/MongoDataFile.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/repository/MongoSpringExtension.class
/inventoryservice/target/maven-archiver/pom.properties
/productservice/target/maven-archiver/pom.properties
/inventoryservice/target/test-classes/mappings/post-inventory-1-purchaseRecord.json
/productservice/target/classes/com/globomantics/productservice/model/Product.class
/productservice/target/classes/com/globomantics/productservice/web/ProductController.class
/productservice/target/test-classes/com/globomantics/productservice/web/ProductControllerTest.class
/productservice/target/classes/com/globomantics/productservice/repository/ProductRepository.class
/productservice/target/classes/com/globomantics/productservice/repository/ProductRepositoryImpl.class
/productservice/target/test-classes/com/globomantics/productservice/repository/ProductRepositoryTest.class
/productservice/target/test-classes/com/globomantics/productservice/repository/ProductRepositoryTestConfiguration.class
/productservice/target/test-classes/datasets/products.yml
/productservice/target/classes/com/globomantics/productservice/service/ProductService.class
/productservice/target/productservice-0.0.1-SNAPSHOT.jar
/productservice/target/productservice-0.0.1-SNAPSHOT.jar.original
/productservice/target/classes/com/globomantics/productservice/ProductserviceApplication.class
/productservice/target/test-classes/com/globomantics/productservice/ProductserviceApplicationTests.class
/productservice/target/classes/com/globomantics/productservice/service/ProductServiceImpl.class
/productservice/target/test-classes/com/globomantics/productservice/integration/ProductServiceIntegrationTest.class
/productservice/target/test-classes/com/globomantics/productservice/service/ProductServiceTest.class
/inventoryservice/target/classes/com/globomantics/inventoryservice/model/PurchaseRecord.class
/reviewservice/target/classes/com/pluralsight/reviewservice/model/Review.class
/reviewservice/target/classes/com/pluralsight/reviewservice/web/ReviewController.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/web/ReviewControllerTest.class
/reviewservice/target/classes/com/pluralsight/reviewservice/model/ReviewEntry.class
/reviewservice/target/classes/com/pluralsight/reviewservice/repository/ReviewRepository.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/repository/ReviewRepositoryTest.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/repository/ReviewRepositoryTestMoreElegant.class
/reviewservice/target/classes/com/pluralsight/reviewservice/service/ReviewService.class
/reviewservice/target/classes/com/pluralsight/reviewservice/ReviewserviceApplication.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/ReviewserviceApplicationTests.class
/reviewservice/target/classes/com/pluralsight/reviewservice/service/ReviewServiceImpl.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/integration/ReviewServiceIntegrationTest.class
/reviewservice/target/test-classes/com/pluralsight/reviewservice/service/ReviewServiceTest.class
/reviewservice/target/test-classes/data/sample.json
/reviewservice/target/test-classes/data/sample6.json
/productservice/target/classes/schema.sql
/reviewservice/target/classes/com/pluralsight/reviewservice/SpringMongoConfig.class
/inventoryservice/target/test-classes/test.properties
/inventoryservice/target/surefire-reports/TEST-com.globomantics.inventoryservice.integration.InventoryServiceIntegrationTest.xml
/inventoryservice/target/surefire-reports/TEST-com.globomantics.inventoryservice.InventoryserviceApplicationTests.xml
/inventoryservice/target/surefire-reports/TEST-com.globomantics.inventoryservice.service.InventoryServiceMappingTest.xml
/inventoryservice/target/surefire-reports/TEST-com.globomantics.inventoryservice.service.InventoryServiceTest.xml
/inventoryservice/target/surefire-reports/TEST-com.globomantics.inventoryservice.web.InventoryControllerTest.xml
/productservice/target/surefire-reports/TEST-com.globomantics.productservice.integration.ProductServiceIntegrationTest.xml
/productservice/target/surefire-reports/TEST-com.globomantics.productservice.ProductserviceApplicationTests.xml
/productservice/target/surefire-reports/TEST-com.globomantics.productservice.repository.ProductRepositoryTest.xml
/productservice/target/surefire-reports/TEST-com.globomantics.productservice.service.ProductServiceTest.xml
/productservice/target/surefire-reports/TEST-com.globomantics.productservice.web.ProductControllerTest.xml
/reviewservice/target/surefire-reports/TEST-com.pluralsight.reviewservice.integration.ReviewServiceIntegrationTest.xml
/reviewservice/target/surefire-reports/TEST-com.pluralsight.reviewservice.repository.ReviewRepositoryTest.xml
/reviewservice/target/surefire-reports/TEST-com.pluralsight.reviewservice.ReviewserviceApplicationTests.xml
/reviewservice/target/surefire-reports/TEST-com.pluralsight.reviewservice.service.ReviewServiceTest.xml
/reviewservice/target/surefire-reports/TEST-com.pluralsight.reviewservice.web.ReviewControllerTest.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/spring-framework-6-unit-testing-junit.iml
/.idea/vcs.xml
